@import 'variables';

@font-face {
   font-family: 'BigTime';
   font-style: normal;
   font-weight: 400;
   src: base('fonts/BigTime-Regular.woff2') format('woff2');
}


@font-face {
   font-family: 'Branding';
   font-style: normal;
   font-weight: 900;
   src: base('fonts/Branding-Black.woff2') format('woff2');
}

@font-face {
   font-family: 'Branding';
   font-style: italic;
   font-weight: 900;
   src: base('fonts/Branding-BlackItalic.woff2') format('woff2');
}

@font-face {
   font-family: 'Branding';
   font-style: normal;
   font-weight: 700;
   src: base('fonts/Branding-Bold.woff2') format('woff2');
}

@font-face {
   font-family: 'Branding';
   font-style: italic;
   font-weight: 700;
   src: base('fonts/Branding-BoldItalic.woff2') format('woff2');
}

@font-face {
   font-family: 'Branding';
   font-style: normal;
   font-weight: 300;
   src: base('fonts/Branding-Light.woff2') format('woff2');
}

@font-face {
   font-family: 'Branding';
   font-style: italic;
   font-weight: 300;
   src: base('fonts/Branding-LightItalic.woff2') format('woff2');
}

@font-face {
   font-family: 'Branding';
   font-style: normal;
   font-weight: 500;
   src: base('fonts/Branding-Medium.woff2') format('woff2');
}

@font-face {
   font-family: 'Branding';
   font-style: italic;
   font-weight: 500;
   src: base('fonts/Branding-MediumItalic.woff2') format('woff2');
}

@font-face {
   font-family: 'Branding';
   font-style: normal;
   font-weight: 600;
   src: base('fonts/Branding-Semibold.woff2') format('woff2');
}

@font-face {
   font-family: 'Branding';
   font-style: italic;
   font-weight: 600;
   src: base('fonts/Branding-SemiboldItalic.woff2') format('woff2');
}

@font-face {
   font-family: 'Branding';
   font-style: normal;
   font-weight: 400;
   src: base('fonts/Branding-Semilight.woff2') format('woff2');
}

@font-face {
   font-family: 'Branding';
   font-style: italic;
   font-weight: 400;
   src: base('fonts/Branding-SemilightItalic.woff2') format('woff2');
}

@font-face {
   font-family: 'Branding';
   font-style: normal;
   font-weight: 100;
   src: base('fonts/Branding-Thin.woff2') format('woff2');
}

@font-face {
   font-family: 'Branding';
   font-style: italic;
   font-weight: 100;
   src: base('fonts/Branding-ThinItalic.woff2') format('woff2');
}