$env : 'development' !default;
$base: '' !default;

// @debug("environment is "+ $env + " and base is "+ $base);

$primary-color: #0a1c20;
$secondary-color: #d01e00;
$tertiary-color: #41a6de;
$quaternary-color: #69A62E;
$quinary-color: #fedb0e;

$background-color: #ffffff;

$font-size-h1: 3.051em;
$font-size-h2: 2.441em;
$font-size-h3: 1.953em;
$font-size-h4: 1.563em;
$font-size-h5: 1.25em;
$font-size-h6: 1em;
$font-size-small: .8em;
$font-size-body: 1em;



@function base($url) {
   @return url($base + $url);
}