$env : 'development' !default;
$base: '' !default;

// @debug("environment is "+ $env + " and base is "+ $base);

$primary-color: #0a1c20;
$secondary-color: #d01e00;
$tertiary-color: #41a6de;
$quaternary-color: #69A62E;
$quinary-color: #fedb0e;

$background-color: #ffffff;

// Use em for font sizes because we cannot set the size of the body font.
$font-size-h1: 2.5em;
$font-size-h2: 2em;
$font-size-h3: 1.5em;
$font-size-h4: 1.25em;
$font-size-h5: 1.125em;
$font-size-h6: 1em;
$font-size-small: .8em;
$font-size-body: 1em;



@function base($url) {
   @return url($base + $url);
}

%bigtime {
   font-family: "BigTime";
   line-height: 1.25;
   text-indent: .125em;
}

%branding {
   font-family: "Branding";
   font-weight: 500;
   font-feature-settings: "onum"on;
}

%border-none {
   background: transparent;
   border: none;
}

%border-bottom {
   border: none;
   border-radius: 0;
   -webkit-border-radius: 0;
   border-bottom: 1px solid $primary-color;
}

%flex-column-wrap {
   display: flex;
   flex-flow: column wrap;
}

%flex-column-nowrap {
   display: flex;
   flex-flow: column nowrap;
}

%flex-row-wrap {
   display: flex;
   flex-flow: row wrap;
}

%flex-row-nowrap {
   display: flex;
   flex-flow: row nowrap;
}

%font-small {
   font-weight: 400;
   font-size: $font-size-small;
}