@media print {

   .sheet {
      &-dice-rolls {
         display: none;
      }


      &-hero-details {
         .sheet-small {
            height: auto;
            flex: 1;
         }
      }

      &-rolltemplate-shift-x {
         visibility: hidden;
      }

   }

   ::placeholder {
      visibility: hidden;
   }
}