@import 'base';
@import 'fonts';

.charsheet {
   min-width: 900px;
   min-height: 525px;

   // width: 950px;
   // height: 525px;

   font-size: $font-size-body;
   font-family: "Branding";
   font-weight: 500;
   font-feature-settings: "onum"on;

   line-height: 1.45;

   color: $primary-color;
   background-color: $background-color;

   display: grid !important;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
   grid-template-areas: "header header header"
      "left middle right";
}


.sheet {

   &-font-branding {
      font-size: $font-size-body;
      font-family: "Branding";
      font-weight: 500;
      font-feature-settings: "onum"on;
   }


   &-font-bigtime,
   &-font-bigtime::placeholder {
      font-family: "BigTime";
      line-height: 1.25;
      text-indent: .125em;
   }


   &-font-bold {
      font-weight: 700;
   }

   &-font-h1 {
      font-size: $font-size-h1;
   }

   &-font-h2 {
      font-size: $font-size-h2;
   }

   &-font-h3 {
      font-size: $font-size-h3;
   }

   &-font-h4 {
      font-size: $font-size-h4;
   }

   &-font-h5 {
      font-size: $font-size-h5;
   }

   &-font-body {
      font-size: $font-size-body;
   }

   &-font-small {
      // todo - Adjust line height?
      font-weight: 400;
      font-size: $font-size-small;
   }



   input+&-show-on-focus {
      flex: 0;
      overflow: hidden;
      transition: flex .5s ease-in;
   }

   input:focus+&-show-on-focus {
      flex: 1;
   }


   &-primary-color {
      color: $primary-color;
   }

   &-hover\:primary-color:hover {
      background-color: $primary-color;
   }


   &-secondary-color {
      color: $secondary-color;
   }

   &-hover\:secondary-color:hover {
      background-color: $secondary-color;
   }

   &-border-none {
      background: transparent;
      border: none;
   }

   &-border-bottom {
      border: none;
      border-radius: 0;
      -webkit-border-radius: 0;
      border-bottom: 1px solid $primary-color;
   }

   &-grid-header {
      grid-area: header;
   }

   &-grid-left {
      grid-area: left;
   }

   &-grid-middle {
      grid-area: middle;
   }

   &-grid-right {
      grid-area: right;
   }

   &-grid-stretch {
      justify-self: stretch;
   }

   &-flex-column {
      display: flex;
      flex-direction: column;
   }

   &-flex-row {
      display: flex;
      flex-direction: row;
   }

   &-flex-wrap {
      flex-wrap: wrap;
   }

   &-flex-nowrap {
      flex-wrap: nowrap;
   }

   &-flex-align-stretch {
      align-items: stretch;
   }

   &-flex-align-center {
      align-items: center;
   }

   &-flex-align-baseline {
      align-items: baseline;
   }

   &-flex-self-center {
      align-self: center;
   }

   &-width-one-fifth {
      width: 20%;
   }

   &-width-two-fifths {
      width: 40%;
   }

   &-width-three-fifths {
      width: 60%;
   }

   &-width-four-fifths {
      width: 80%;
   }

   &-width-five-fifths {
      width: 100%;
   }

   &-width-quarter {
      width: 25%;
   }

   &-width-half {
      width: 50%;
   }

   &-width-full {
      width: 100%;
   }

   &-flex-50 {
      flex-basis: 50%;
   }

   &-flex-100 {
      flex-basis: 100%;
   }

   &-flex-grow-1 {
      flex-grow: 1;
   }

   &-flex-grow-2 {
      flex-grow: 2;
   }

   &-flex-grow-3 {
      flex-grow: 3;
   }

   &-flex-grow-4 {
      flex-grow: 4;
   }

   &-margin-top-0 {
      margin-top: 0;
   }

   &-as-box {
      background: base('assets/box-checked.png') left center no-repeat;
      background-size: 1em;
   }

   &-as-bullet {
      background: base('assets/bullet.png') left center no-repeat;
      background-size: 1.25em;
   }
}

small {
   @extend .sheet-font-small;
}

input[type=radio],
input[type=checkbox] {
   opacity: 0;
   width: 1.25em;
   height: 1.25em;
   position: relative;
   padding: 0;
   margin: 0;
   margin-right: -1.25em;
   cursor: pointer;
   z-index: 1;
}

// when 0 is not selected, move to top so we can unselect all
input[type=radio][value="0"]:not(:checked) {
   z-index: 9;
}

input[type=radio]+.sheet-as-bullet {
   display: inline-block;
   width: 1.25em;
   height: 1.25em;
   // on state
   opacity: 1;
}

input[type=radio]:checked~input[type=radio]+.sheet-as-bullet {
   // off state
   opacity: .25;
}

input[type=radio]+.sheet-as-box {
   display: inline-block;
   width: 1em;
   height: 1em;
   margin-right: 2px;
   // on state
   background: base('assets/box-checked.png') left center no-repeat;
   background-size: 1em;
}

input[type=radio]:checked+.sheet-as-box {
   // on state
   background: base('assets/box-checked.png') left center no-repeat;
   background-size: 1em;
}

input[type=radio]:checked~input[type=radio]+.sheet-as-box {
   // off state
   background: base('assets/box-empty.png') left center no-repeat;
   background-size: 1em;
}

input[type=checkbox]+.sheet-as-diamond {
   display: inline-block;
   width: 1.25em;
   height: 1.25em;
   background: base('assets/diamond-empty.png') left center no-repeat;
   background-size: 1em;
}

input[type=checkbox]:checked+.sheet-as-diamond {
   background: base('assets/diamond-checked.png') left center no-repeat;
   background-size: 1em;
}

input[type=checkbox]+.sheet-as-triangle-down {
   display: inline-block;
   width: 1.25em;
   height: 1.25em;
   background: base('assets/triangle-down-empty.png') left center no-repeat;
   background-size: 1.25em;
}

input[type=checkbox]:checked+.sheet-as-triangle-down {
   background: base('assets/triangle-down-checked.png') left center no-repeat;
   background-size: 1.25em;
}

input[type=checkbox]+.sheet-as-triangle-up {
   display: inline-block;
   width: 1.25em;
   height: 1.25em;
   background: base('assets/triangle-up-empty.png') left center no-repeat;
   background-size: 1.25em;
}

input[type=checkbox]:checked+.sheet-as-triangle-up {
   background: base('assets/triangle-up-checked.png') left center no-repeat;
   background-size: 1.25em;
}

input[type=number] {
   text-align: center;
   width: 1.5em;
   -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   margin: 0;
}

label {
   font-family: "BigTime";
   font-size: $font-size-h4;
   color: $secondary-color;
   font-weight: normal;
}

p {
   line-height: 1.45;
}

input {
   @extend .sheet-font-branding;
   @extend .sheet-border-bottom;
   width: auto;
}

textarea {
   @extend .sheet-font-branding;
   @extend .sheet-border-bottom;
   font-size: $font-size-h6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "League";
   font-style: italic;
   font-weight: 700;
   color: $secondary-color;
}

h1 {
   font-size: $font-size-h1;
}

h2 {
   font-size: $font-size-h2;
}

h3 {
   font-size: $font-size-h3;
}

h4 {
   font-size: $font-size-h4;
}

h5 {
   font-size: $font-size-h5;
}

h6 {
   font-size: $font-size-h6;
}