@import 'fonts/fonts.css';


$primary-color: #0a1c20;
$secondary-color: #d01e00;
$tertiary-color: #fedb0e;
$quarnary-color: #41a6de;
$quintary-color: #69A62E;
$background-color: #ffffff;

$font-size-small: .8em;
$font-size-body: .875em;
$font-size-h1: 3.051em;
$font-size-h2: 2.441em;
$font-size-h3: 1.953em;
$font-size-h4: 1.563em;
$font-size-h5: 1.25em;
$font-size-h6: 1em;


.charsheet {

   min-width: 900px;
   font-size: $font-size-body;
   font-family: "Branding";
   font-weight: 500;
   font-feature-settings: "onum"on;
   color: $primary-color;
   background-color: $background-color;

   line-height: 1.45;


   .character-name {
      input {
         font-size: $font-size-h1;
         line-height: 1.25em;
         background: transparent;
         border: none;
      }
   }

   .columns {
      display: flex;
      flex-basis: auto;
   }

   .big-time {
      font-family: "BigTime";
      font-size: $font-size-h4;
      color: $secondary-color;
   }


   small,
   .font-small {
      font-weight: 400;
      font-size: $font-size-small;
   }


   .hero-details {
      display: flex;
      flex-wrap: wrap;
      flex-basis: content;
      justify-content: space-between;
   }


   .field-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex-basis: 150px;
   }

   label {
      font-family: "BigTime";
      font-size: $font-size-h4;
      color: $secondary-color;
   }

   .help {
      font-weight: 400;
      font-size: $font-size-small;
   }

   p {
      line-height: 1.45;
   }

   input {

      font-size: $font-size-h6;
      font-family: "Branding";
      font-weight: 500;
      font-feature-settings: "onum"on;

      background: transparent;
      border: none;
      border-bottom: 1px solid $primary-color;
   }


   textarea {

      font-size: $font-size-h6;
      font-family: "Branding";
      font-weight: 500;
      font-feature-settings: "onum"on;

      background: transparent;
      border: none;
      border-bottom: 1px solid $primary-color;
   }

   label {
      font-weight: normal;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      font-family: "Bigtime";
      font-weight: normal;
      color: $secondary-color;
      margin: 0;
   }

   h1 {
      font-size: $font-size-h1;
   }

   h2 {
      font-size: $font-size-h2;
   }

   h3 {
      font-size: $font-size-h3;
   }

   h4 {
      font-size: $font-size-h4;
   }

   h5 {
      font-size: $font-size-h5;
   }

   h6 {
      font-size: $font-size-h6;
   }

}