@import 'fonts/fonts.css';


$primary-color: #0a1c20;
$secondary-color: #d01e00;
$tertiary-color: #fedb0e;
$quarnary-color: #41a6de;
$quintary-color: #69A62E;
$background-color: #ffffff;

$font-size-h1: 3.051em;
$font-size-h2: 2.441em;
$font-size-h3: 1.953em;
$font-size-h4: 1.563em;
$font-size-h5: 1.25em;
$font-size-h6: 1em;
$font-size-body: 1em;
$font-size-small: .8em;


.charsheet {

   min-width: 900px;


   font-size: $font-size-body;
   font-family: "Branding";
   font-weight: 500;
   font-feature-settings: "onum"on;

   line-height: 1.45;


   color: $primary-color;
   background-color: $background-color;


   display: grid;

   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto;
   grid-template-areas:
      "header header header"
      "left middle right";





   .character-name {
      grid-area: header;

      input {
         font-size: $font-size-h1;
         line-height: 1.25em;
         background: transparent;
         border: none;
      }
   }

   .column {
      display: flex;
      flex-direction: column;
   }

   .grid-left {
      grid-area: left;
   }

   .grid-middle {
      grid-area: middle;
   }

   .grid-right {
      grid-area: right;
   }


   .hero-details {
      display: flex;
      flex-wrap: wrap;
      // flex-basis: content;
      // justify-content: space-between;

   }


   .big-time {
      font-family: "BigTime";
      font-size: $font-size-h4;
      color: $secondary-color;
      line-height: 1.25;
   }


   small,
   .font-small {
      font-weight: 400;
      font-size: $font-size-small;
   }

   .field {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      flex-basis: 150px;
   }

   .powerset-name {
      flex-direction: row;
      flex-wrap: nowrap;

      input[type=number] {
         width: 1.5em;
      }
   }

   label {
      font-family: "BigTime";
      font-size: $font-size-h4;
      color: $secondary-color;
   }

   .help {
      font-weight: 400;
      font-size: $font-size-small;
   }

   p {
      line-height: 1.45;
   }

   input {
      font-size: $font-size-body;
      font-family: "Branding";
      font-weight: 500;
      font-feature-settings: "onum"on;

      background: transparent;
      border: none;
      border-bottom: 1px solid $primary-color;
   }


   textarea {

      font-size: $font-size-h6;
      font-family: "Branding";
      font-weight: 500;
      font-feature-settings: "onum"on;

      background: transparent;
      border: none;
      border-bottom: 1px solid $primary-color;
   }

   label {
      font-weight: normal;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      font-family: "Bigtime";
      font-weight: normal;
      color: $secondary-color;
      // margin: 0;
   }

   h1 {
      font-size: $font-size-h1;
   }

   h2 {
      font-size: $font-size-h2;
   }

   h3 {
      font-size: $font-size-h3;
   }

   h4 {
      font-size: $font-size-h4;
   }

   h5 {
      font-size: $font-size-h5;
   }

   h6 {
      font-size: $font-size-h6;
   }

}