@import 'base';
@import 'fonts';


// because we can't use root, this styles the overall char sheet.



// the required parent of all character sheet styles
.sheet {


   &-root {

      // we need a root element for our sheet
      // because this stuff is what is gridding up the char mancer

      min-width: 860px;
      min-height: 560px;

      display: grid !important;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "header header header"
         "left middle right"
         "footer footer footer";


      @extend %branding;
      font-size: $font-size-body;
      line-height: 1.375;

      color: $primary-color;
      background-color: $background-color;

   }

   &-character-name {
      width: 100%;
      @extend %bigtime;
      font-size: $font-size-h1;
      color: $secondary-color;
      border: none;
      grid-area: header;
   }

   &-left-column {
      grid-area: left;
   }

   &-middle-column {
      grid-area: middle;
   }

   &-right-column {
      grid-area: right;
   }

   &-hero-details {
      @extend %flex-row-wrap;

      div {
         @extend %flex-column-nowrap;
         width: 50%;
      }

      div:last-child {
         width: 100%;
      }

      small {
         flex: 0;
         overflow: hidden;
         transition: flex .25s ease-in-out;
      }

      input:focus+small {
         height: auto;
         flex: 1;
      }

      label {
         @extend %bigtime;
         font-size: $font-size-h3;
         color: $secondary-color;
      }

   }

   &-consequences {}

   &-stress {
      @extend %flex-row-wrap;
      align-items: center;

      label {
         margin-right: 1em;
      }

      div {
         @extend %flex-row-nowrap;
         align-items: center;
      }
   }

   &-harm {
      @extend %flex-column-nowrap;
      margin-top: .5em;

      input {
         text-align: center;
         @extend %border-none;
         flex-grow: 1;
      }

      input::placeholder {
         @extend %branding;
         text-align: center;
      }

      div {
         @extend %flex-row-nowrap;
         align-items: center;
         @extend %border-bottom;

         span:first-of-type {
            font-feature-settings: "tnum"on;
            width: 3ch;
            // width: 5%;
            // flex-grow: .05;
            text-align: right;
         }

         span:last-of-type {
            width: 7ch;
            // width: 15%;
            // flex-grow:.15;
         }
      }
   }

   &-healing {
      @extend %flex-row-nowrap;
      align-items: center;
      margin-top: .5em;
   }



   &-relationships {
      @extend %flex-column-nowrap;
   }

   &-relationship {
      @extend %flex-row-nowrap;
      align-items: center;

      input[type=text] {
         width: 50%;
         flex-grow: 1;
         @extend %border-none;
         @extend %bigtime;
         color: $secondary-color;
         font-size: $font-size-h3;
      }


      div {
         @extend %flex-row-nowrap;
         align-items: center;
      }

   }

   &-powersets {
      @extend %flex-column-nowrap;


      div:first-of-type {
         @extend %flex-row-nowrap;
         align-items: center;

         h2 {
            margin: 0;
            flex-grow: 1;
         }

         div {
            @extend %flex-row-nowrap;
         }

      }

   }

   &-powerset {
      &>input[type=text] {
         @extend %bigtime;
         color: $secondary-color;
         font-size: $font-size-h3;
         @extend %border-none;
         width: 100%;
      }

      &>textarea {
         width: 100%;
         @extend %border-none;
      }

      &>textarea::placeholder {
         @extend %branding;
      }

      input[name$=limit] {
         @extend %branding;
         @extend %border-none;
         width: 100%;
      }

      input[name$=limit]::placeholder {
         @extend %branding;
      }

   }

   &-power {
      @extend %branding;
      @extend %flex-row-wrap;
      align-items: baseline;

      ::placeholder {
         @extend %branding;
      }

      input {
         @extend %border-none;
      }

      input:first-of-type::placeholder {
         font-weight: bold;
      }

      input:first-of-type {
         // power name
         font-weight: bold;
         width: 33%;
         flex-grow: 1;
      }

      input[type=number],
      input[type=number]::placeholder {
         font-weight: bold;
      }

      input:last-of-type {
         // power description
         width: 50%;
         flex-grow: 2;
      }
   }


   &-abilities {
      div:first-of-type {
         @extend %flex-row-nowrap;
         align-items: center;
         margin-top: 1.5em;

         h2 {
            margin: 0;
            flex-grow: 1;
         }
      }
   }

   &-ability {
      @extend %flex-row-nowrap;
      align-items: center;

      input {
         width: 33%;
         font-weight: bold;
         align-self: flex-start;
      }

      textarea {
         flex-grow: 1;
      }

      ::placeholder {
         @extend %branding;
      }

      input,
      textarea {
         @extend %border-none;
      }

      input::placeholder {
         font-weight: bold;
      }
   }


   &-actions {
      @extend %flex-column-nowrap;

      h2:first-of-type {
         margin-top: 0;
      }
   }

   &-attribute {
      @extend %flex-row-nowrap;
      align-items: center;

      label {
         @extend %bigtime;
         color: $secondary-color;
         font-size: $font-size-h3;
         flex-grow: 1;
      }

      div {
         @extend %flex-row-nowrap;
         align-items: center;
      }
   }

   &-action {
      @extend %flex-row-nowrap;
      align-items: center;

      label {
         @extend %bigtime;
         font-size: $font-size-h4;
         color: $primary-color;
         margin-left: 1em;
      }

      div {
         @extend %flex-row-nowrap;
         align-items: center;
      }
   }

   &-gear {
      textarea {
         @extend %border-none;
         width: 100%;
      }

      ::placeholder {
         @extend %branding;
      }
   }




   &-as-box {
      background: base('assets/box-checked.png') left center no-repeat;
      background-size: 1em;
   }

   &-as-bullet {
      background: base('assets/bullet.png') left center no-repeat;
      background-size: 1em;
   }

   &-as-triangle-up {
      background: base('assets/triangle-up-checked.png') left center no-repeat;
      background-size: 1em;
   }

   &-as-triangle-down {
      background: base('assets/triangle-down-checked.png') left center no-repeat;
      background-size: 1em;
   }


}


small {
   @extend %font-small;
}

:focus {
   outline: none;
}

input {
   font-size: $font-size-body;
}

::placeholder {
   @extend %bigtime;
}

input[type=radio],
input[type=checkbox] {
   opacity: 0;
   width: 1em;
   height: 1em;
   position: relative;
   padding: 0;
   margin: 0;
   margin-right: -1em;
   cursor: pointer;
   z-index: 1;
}

// when 0 is not selected, move to top so we can unselect all
input[type=radio][value="0"]:not(:checked) {
   z-index: 9;
}


input[type=radio]+.sheet-as-bullet {
   display: inline-block;
   width: 1em;
   height: 1em;
   // "on" state is default 
   opacity: 1;
}

input[type=radio]:checked~input[type=radio]+.sheet-as-bullet {
   // "off" state turns on after checked to end
   opacity: .25;
}


input[type=radio]+.sheet-as-box {
   display: inline-block;
   width: 1em;
   height: 1em;
   margin-right: 2px;
   // "on" state is the default
   background: base('assets/box-checked.png') left center no-repeat;
   background-size: 1em;
}

input[type=radio]:checked~input[type=radio]+.sheet-as-box {
   // "off" state is active for consecutive radios after checked
   background: base('assets/box-empty.png') left center no-repeat;
   background-size: 1em;
}


input[type=radio]+.sheet-as-triangle-up {
   display: inline-block;
   width: 1em;
   height: 1em;
   margin-right: 2px;
   // "on" state is the default
   background: base('assets/triangle-up-checked.png') left center no-repeat;
   background-size: 1em;
}

input[type=radio]:checked~input[type=radio]+.sheet-as-triangle-up {
   // "off" state is active for consecutive radios after checked
   background: base('assets/triangle-up-empty.png') left center no-repeat;
   background-size: 1em;
}


input[type=radio]+.sheet-as-triangle-down {
   display: inline-block;
   width: 1em;
   height: 1em;
   margin-right: 2px;
   // "on" state is the default
   background: base('assets/triangle-down-checked.png') left center no-repeat;
   background-size: 1em;
}

input[type=radio]:checked~input[type=radio]+.sheet-as-triangle-down {
   // "off" state is active for consecutive radios after checked
   background: base('assets/triangle-down-empty.png') left center no-repeat;
   background-size: 1em;
}


input[type=checkbox]+.sheet-as-diamond {
   display: inline-block;
   width: 1em;
   height: 1em;
   background: base('assets/diamond-empty.png') left center no-repeat;
   background-size: 1em;
}

input[type=checkbox]:checked+.sheet-as-diamond {
   background: base('assets/diamond-checked.png') left center no-repeat;
   background-size: 1em;
}

input[type=checkbox]+.sheet-as-triangle-down {
   display: inline-block;
   width: 1em;
   height: 1em;
   background: base('assets/triangle-down-empty.png') left center no-repeat;
   background-size: 1em;
}

input[type=checkbox]:checked+.sheet-as-triangle-down {
   background: base('assets/triangle-down-checked.png') left center no-repeat;
   background-size: 1em;
}

input[type=checkbox]+.sheet-as-triangle-up {
   display: inline-block;
   width: 1em;
   height: 1em;
   background: base('assets/triangle-up-empty.png') left center no-repeat;
   background-size: 1em;
}

input[type=checkbox]:checked+.sheet-as-triangle-up {
   background: base('assets/triangle-up-checked.png') left center no-repeat;
   background-size: 1em;
}

input[type=number] {
   text-align: center;
   width: 1.5em;
   -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   margin: 0;
}

label {
   @extend %bigtime;
   font-size: $font-size-h4;
   color: $secondary-color;
   font-weight: normal;
}

p {
   // line-height: 1.45;
}

input {
   @extend %branding;
   @extend %border-bottom;
   width: auto;
}

textarea {
   @extend %branding;
   @extend %border-bottom;
   font-size: $font-size-h6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   @extend %bigtime;
   color: $secondary-color;
}

h1 {
   font-size: $font-size-h1;
}

h2 {
   font-size: $font-size-h2;
}

h3 {
   font-size: $font-size-h3;
}

h4 {
   font-size: $font-size-h4;
}

h5 {
   font-size: $font-size-h5;
}

h6 {
   font-size: $font-size-h6;
}